.head {
    background-image: url(../B9A1-New-Year-New-Mission/resources/Banner\ Image.png);
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    justify-content: center;
    border-radius: 16px; */
}

.body {
    margin: 10px auto;
    max-width: 1200px;
}

.Heading {
    
}

.main {
    
}

.hd1 {
    text-align: center;
    padding: 80px;
}

.head1 {
    color: white;
    font-size: medium;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    margin-top: 100px;
    font-weight: 400;
    margin-bottom: 10px;
}

.head2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}


.Banner1 {
    color: #F00;
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 40;
}

.Banner2 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    
}

.Banner {
    background: #FFF;
    padding: 20px;
    text-align: center;
}

.Banner3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 500;
    margin-top: 20px;
}

.adv-pic {
    width: full;
    height: full;
    flex-shrink: 0;
    align-items: center;
    font-weight: 700;
}



/* .i3 {
    position: relative;
    text-align: center;
} */
.baka {
    width: 100%;
    height: 100%;
}

.img70 {
    height: 90%;
}

.fle {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.cls1 {
    /* position: absolute; */
    /* background-position: center; */
    background-repeat: no-repeat;
    padding: 20px;
}

.class1 {
    color: #FFF;
    font-size: 48px;
    font-weight: 900;
}

.class2 {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 500;
}

.class3 {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.cls {
    /* text-align: center; */
    border-radius: 20px;
    padding: 20px;

}

.class10 {
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: peachpuff;
    text-align: center;
    padding: 20px;
}

.A {
    color: #F00;
}

.B {
    color: #F00;
}

.C {
    color: #F00;
}

.btn {
    color: #FFF;
    background-color: #F00;
    padding: 10px;
    border: 1px;
    border-radius: 30px;
}

.h10 {
    display: flex;
    gap: 30px;
}


.as {
    color: #F00;
    font-weight: 500;
    font-size: 24px;
}

.ad {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
}

.af {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.ag {
    color: #F00;
}

.pg {
    border: 10px round #F00;
    border-radius: 10px;
    padding: 5px;
}

.uy {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
}

.uy-1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
}

.er {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.holy {
    text-align: center;
    margin-top: 100px;
}

.holi {
    color: #070211;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.rop {
    color: #F00;
}



.img-con-1 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.S {
    width: 33%;
}

.p1 {
    justify-content: end;
    position: relative;
    left: 150px;
}



.p3 {
    position: relative;
    right: 300px;
    bottom: 560px;
}

.p4 {
    width: 100%;
    position: relative;
    bottom: 670px;
}

.nsdiv {
    background-color: lavenderblush;
    text-align: center;
    padding: 20px;
}


.nshead {
    color: #070211;
    font-family: Merriweather;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
}

.nspara {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.nsbtn {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 5px;
}

.nsinput {
    border-radius: 50px;
    background: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 5px;
}